-
  const map1 = {
    tasks: [
      {
        paragraph: "На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться."
      }
    ]
  }

-
  const map2 = {
    tasks: [
      {
        paragraph: "На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться.",
      },
      {
        paragraph: "Создать и расположить пины на карте из json файла. При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином"
      }
    ]
  }

-
  const map3 = {
    tasks: [
      {
        paragraph: "На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться.",
      },
      {
        paragraph: "Создать и расположить пины на карте из json файла. При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином"
      },
      {
        paragraph: "Создать блок с фильтрами под картой и при клике на каждый элемент фильтра настроить фильтрацию пинов на карте в зависимости от выбранного фильтра"
      },
      {
        paragraph: "Если выбран изначально фильтр 'Все объекты' и открыт у кого нибудь пина баллун, то при активации фильтра этого пина у которого открыт баллун, карта должна отфильтроваться, но баллун не должен закрываться. Если у пина открыт баллун и мы выбираем другой фильтр, то баллун должен закрыться"
      }
    ]
  }

-
  const map4 = {
    tasks: [
      {
        paragraph: "На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться. Масштабировать ее можно только при нажатии клавиши Ctrl + колесико мышки. Если пользователь навел курсор на карту и начинает скролить мышкой, то на карте должен появиться overlay с инструкцией, что для того что бы масштабировать карту нажмите Ctrl + колесико мышки",
      },
      {
        paragraph: "Создать и расположить пины на карте из json файла. При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином"
      },
      {
        paragraph: "Реализовать кластеризацию меток. Если зум карты становится меньше, то пины должны собираться в один кластер"
      },
      {
        paragraph: "При клике на кластер должно раскрываться окошко, в котором будет списком указаны, какие пини находятся в этой кластере"
      }
    ]
  }


mixin map(currentUrl, number)
  section.ya-map
    .container
      h1.ya-map__title.title!=`Задание по карте №${number}`
      h2 Техническое задание
      p Реализовать карту через API Яндекс карт
      p Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами
      if (currentUrl === "map-1.html")
        each task in map1.tasks
          p!=task.paragraph
      if (currentUrl === "map-2.html")
        each task in map2.tasks
          p!=task.paragraph
      if (currentUrl === "map-3.html")
        each task in map3.tasks
          p!=task.paragraph
      if (currentUrl === "map-4.html")
        each task in map4.tasks
          p!=task.paragraph
      .ya-map__inner
        .ya-map__map(id=`map-${number}`)
